*, *::before, *::after{
    box-sizing: border-box;
    font-family:'Segoe UI', 'sans-serif';
    font-weight: bold;
    color: #333333;
}


body{
    padding: 0;
    margin: 0;
    /*background: linear-gradient(to right, rgb(221, 221, 221), rgb(124, 124, 124)); */
    background: #E8E8E8;
}

#eq {
    background-color: #12ABCC;
}
#eq:hover {
    background-color: #52c1da;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2.2rem;
   /* border: 1px solid #5E5D58; */
    border: 0px;
    border-radius: 2em;
    outline: none;
    text-align: center;
    color: #EFEFEF;
   /* background-color: rgba(255,255,255,.75); */
    background-color: #5E5D58;
    transition: all 0.2s;
    margin:0 0.3em 0.3em 0;
    text-shadow: 0px 0px 10px #474743;
    box-shadow: 0px 2px 5px grey;
    user-select: none;
}

#c-but {
    text-align: left;
    padding-left: 35px;
}

#zero-but {
    text-align: left;
    padding-left: 35px;
}
.calculator-grid > button:hover{
    background-color: rgba(136, 136, 136, 0.9);
    color: #ffffff;
    text-shadow: 0px 0px 2px #474743;
    box-shadow: 0px 1px 2px grey;
}

.span-two{
    grid-column: span 2;
    text-align: left;
}

.output {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    font-size: 1.5rem;
    color: #5e5e5e;
    user-select: none
}

.output .current-operand{
    font-size: 3.5rem;
    user-select: none
}

.output .bottom-line{
    font-size: 0.97rem;
    text-shadow: 1px 0px 1px #474743;
    user-select: none
}