*, *::before, *::after{
    box-sizing: border-box;
    font-family:'Segoe UI', 'sans-serif';
    font-weight: bold;
    color: #333333;
}


body{
    padding: 0;
    margin: 0;
    /*background: linear-gradient(to right, rgb(221, 221, 221), rgb(124, 124, 124)); */
    background: #E8E8E8;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
   /* border: 1px solid #5E5D58; */
    border-radius: 10%;
    outline: none;
    color: #EFEFEF;
   /* background-color: rgba(255,255,255,.75); */
    background-color: #5E5D58;
}

.calculator-grid > button:hover{
    background-color: rgba(136, 136, 136, 0.9);
}

.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    font-size: 1.5rem;
}

.output .current-operand{
    font-size: 3.5rem;
}

.output .bottom-line{
    font-size: 2.46rem;
}